{% extends "base.html" %}
{% block title %}
    <table>
        <tr>
            <th>Movie_id</th>
            <th>Title</th>
            <th>Poster Path</th>
            <th>Overview</th>
            <th>Popularity</th>
        </tr>
    {% for i in movie_data %}   
        <tr>
            <td>
                {{i.movie_id}}
            </td>
            <td>
                {{i.title}}
            </td>
            <td>
                {{i.poster_path}}
            </td>
            <td>
                {{i.overview}}
            </td>
            <td>
                {{i.popularity}}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}